[project]
	description = Microscopy Image Stitching Tool for Fiji and standalone
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michael Majurski (mmajurski)
[access "refs/for/refs/*"]
	read = group user/Michael Majurski (mmajurski)
	push = group user/Michael Majurski (mmajurski)
	label-Code-Review = -2..+2 group user/Michael Majurski (mmajurski)
	label-Verified = -1..+1 group user/Michael Majurski (mmajurski)
	rebase = group user/Michael Majurski (mmajurski)
	removeReviewer = group user/Michael Majurski (mmajurski)
	submit = group user/Michael Majurski (mmajurski)
[access "refs/heads/*"]
	read = group user/Michael Majurski (mmajurski)
	create = group user/Michael Majurski (mmajurski)
	push = +force group user/Michael Majurski (mmajurski)
	pushMerge = group user/Michael Majurski (mmajurski)
[access "refs/tags/*"]
	push = +force group user/Michael Majurski (mmajurski)
	pushTag = group user/Michael Majurski (mmajurski)
	pushSignedTag = group user/Michael Majurski (mmajurski)
