[project]
	description = Microscopy Image Stitching Tool for Fiji and standalone
	state = hidden
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group HTGS-dev
	owner = group user/Michael Majurski (mmajurski)
	push = group HTGS-dev
	label-Code-Review = -2..+2 group HTGS-dev
	label-Verified = -1..+1 group HTGS-dev
	submit = group HTGS-dev
[access "refs/for/refs/*"]
	read = group user/Michael Majurski (mmajurski)
	push = group user/Michael Majurski (mmajurski)
	label-Code-Review = -2..+2 group user/Michael Majurski (mmajurski)
	label-Verified = -1..+1 group user/Michael Majurski (mmajurski)
	rebase = group user/Michael Majurski (mmajurski)
	removeReviewer = group user/Michael Majurski (mmajurski)
	submit = group user/Michael Majurski (mmajurski)
[access "refs/heads/*"]
	read = group user/Michael Majurski (mmajurski)
	create = group user/Michael Majurski (mmajurski)
	push = +force group user/Michael Majurski (mmajurski)
	pushMerge = group user/Michael Majurski (mmajurski)
[access "refs/tags/*"]
	push = +force group user/Michael Majurski (mmajurski)
	pushTag = group user/Michael Majurski (mmajurski)
	pushSignedTag = group user/Michael Majurski (mmajurski)
[access "refs/for/refs/heads/master"]
	owner = group HTGS-dev
	read = group HTGS-dev
	push = group HTGS-dev
	pushMerge = group HTGS-dev
	pushTag = group HTGS-dev
	pushSignedTag = group HTGS-dev
	label-Code-Review = -2..+2 group HTGS-dev
	label-Verified = -1..+1 group HTGS-dev
	rebase = group HTGS-dev
	submit = group HTGS-dev
	viewDrafts = group HTGS-dev
	editTopicName = group HTGS-dev
	editHashtags = group HTGS-dev
	publishDrafts = group HTGS-dev
