    <!-- ******CONTACT****** -->
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact</h2>

                <p class="intro  text-center">We hope you enjoy MIST and its functionality.<br/> If you have any suggestions or comments please feel free to send us an email.</p>

                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/usnistgov" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/usnistgov" target="_blank"><i class="fa fa-facebook"></i></a></li>
													<li class="last"><a href="mailto: nist-mist@nist.gov"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->
