    <!-- ******DATA****** -->
    <section id="data" class="about section">
        <div class="container">
        		<div class="row">

							<h2 class="title text-center">Example Datasets</h2>
							<p class="text-center">
							MIST has been applied to large and diverse datasets in terms of content, imaging modalities, and microscopes; totaling over a thousand fully stitched images. The stitched datasets have been acquired using five microscopes (Leica, Olympus, Nikon, Focused Ion Beam Scanning Electron Microscope (FIB-SEM), and Zeiss), four different imaging modalities (fluorescent, phase contrast, bright-field, and FIB-SEM), a range of image overlaps, and a large range of grid sizes (5x5 to 300x300).
							</p>

						</div>


						<div class="row well text-center">

							<img src="assets/MIST_stitching_examples.png"
									 class="img-responsive"
									 alt="MIST application example images: (1) A10 cells, (2) Carbon Nanotubes, (3) HBMSC, (4) IPS cell colonies, (5) Paper nanoparticle, (6) Rat brain cells, (7) Stem cell colonies, and (8) Worms."
											/>
							<figcaption class="text-center">MIST has stitched eight different content types: (1) A10 cells, (2) Carbon Nanotubes, (3) HBMSC, (4) IPS cell colonies, (5) Paper nanoparticle, (6) Rat brain cells, (7) Stem cell colonies, and (8) Worms.
							</figcaption>
						</div>

        </div><!--//container-->
    </section><!--//about-->
