    <!-- ******DOMAIN****** -->
    <section id="domain" class="features section">
        <div class="container">
	        <div class="row">
            <h2 class="title text-center">Application Domain</h2>

						<p class="text-center">2D Grid of Images + Time Series + Multiple Image Modalities
						</p>
						<p class="text-center">MIST was designed to perform 2D time-sequence multichannel stitching. It cannot perform volumetric stitching (3 spatial dimensions) which requires a system to identify and correlate features across a third dimension (e.g., Z-axis). However, MIST can stitch a numbered series of independent image grids, for example, a time-series of image grids. Additionally, MIST also handles datasets that can use the same image positions, such as stitching multiple channels, using the assemble from metadata functionality.
						</p>
					</div>

        </div><!--//container-->
    </section><!--//about-->
