    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> 2D+Time+Channel Image Stitching</li>
                <li><i class="fa fa-check"></i> Hybrid Workflow Implementation</li>
                <li><i class="fa fa-check"></i> Multi-CPU and Multi-GPU</li>
                <li><i class="fa fa-check"></i> Handles TBs of Data</li>
                <li><i class="fa fa-check"></i> Real-Time Stitching</li>
                <li><i class="fa fa-check"></i> Memory Efficient</li>
                <li><i class="fa fa-check"></i> Fiji/ImageJ Plugin</li>
                <li><i class="fa fa-check"></i> Open Source</li>
            </ul>
        </div><!--//container-->
    </section><!--//features-->
