<!-- ******FOOTER****** -->
<footer class="footer">
</footer><!--//footer-->

<!-- SCRIPTS -->

<script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/plugins/prism/prism.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}public/js/main.js"></script>


<!-- JQuery -->
<!-- <script type="text/javascript" src="{{ site.baseurl }}js/jquery-3.4.1.min.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.baseurl }}js/jquery.countdown.min.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.baseurl }}js/moment.min.js"></script> -->
<!-- <script type="text/javascript" src="{{ site.baseurl }}js/moment-timezone-with-data-10-year-range.min.js"></script> -->

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ site.baseurl }}js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ site.baseurl }}js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ site.baseurl }}js/mdb.min.js"></script>
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{{ site.baseurl }}js/addons/datatables.min.js"></script>
<!-- Time update script -->
<script type="text/javascript" src="{{ site.baseurl }}js/time-updater.js?v={{ site.time | date:'%s' }}"></script>
<script type="text/javascript" src="{{ site.baseurl }}js/es-submission.js?v={{ site.time | date:'%s' }}"></script>
<script type="text/javascript" src="{{ site.baseurl }}js/sts-submission.js?v={{ site.time | date:'%s' }}"></script>

