<!-- ******FOOTER****** -->
<footer class="footer">
</footer><!--//footer-->

<!-- SCRIPTS -->
<!-- JQuery -->
<!-- <script type="text/javascript" src="{{ site.baseurl }}js/jquery-3.4.1.min.js"></script> -->
<script type="text/javascript" src="{{ site.baseurl }}js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}js/moment.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}js/moment-timezone-with-data-10-year-range.min.js"></script>

<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ site.baseurl }}js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ site.baseurl }}js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ site.baseurl }}js/mdb.min.js"></script>
<!-- MDBootstrap Datatables  -->
<script type="text/javascript" src="{{ site.baseurl }}js/addons/datatables.min.js"></script>
<!-- Time update script -->
<script type="text/javascript" src="{{ site.baseurl }}js/time-updater.js?v={{ site.time | date:'%s' }}"></script>
<script type="text/javascript" src="{{ site.baseurl }}js/es-submission.js?v={{ site.time | date:'%s' }}"></script>
<script type="text/javascript" src="{{ site.baseurl }}js/sts-submission.js?v={{ site.time | date:'%s' }}"></script>

<script src="https://pages.nist.gov/nist-header-footer/js/nist-header-footer.js" type="text/javascript"
        defer="defer"></script>


<script async type="text/javascript" id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NIST&subagency=github&pua=UA-42404149-54&yt=true&exts=ppsx,pps,f90,sch,rtf,wrl,txz,m1v,xlsm,msi,xsd,f,tif,eps,mpg,xml,pl,xlt,c">
</script>
